/* Primary footer Styles */
footer {
    flex-direction: column;
}
.footer__primary {
    max-width: 23rem;
}
.footer__description--extra-margin {
    margin: 1.5rem 0;
}
/* desaturated heart emoji in the footer description */
.heart-entity {
    filter: saturate(0);
}

/* Secondary footer styles */
.footer__secondary {
    row-gap: 1rem;
    column-gap: 30vw;
}

.footer__heading {
    font-family: 'Roboto-Medium';
}
.footer__list {
    font-family: 'Roboto-Regular';
}
.footer__list-item  {
    padding-block: .5rem;
}
.footer__list-item a {
    color: var(--gray);
}

@media (min-width: 48rem) {
    footer {
        flex-direction: row;
        gap: 5%;
        justify-content: space-between;

    }

    .footer__secondary {
        gap: 1rem;
        column-gap: 5vw;
    }
}

@media (min-width: 51.25rem) {
    footer {
        gap: 10%;
    }
}

@media (min-width: 58.75rem) {
    footer {
        flex-direction: row;
        gap: 15%;
        justify-content: space-between;

    }

    .footer__secondary {
        gap: 1rem;
        column-gap: 8vw;
    }
}