/* Import Fonts */
@font-face {
    font-family: "DM-Sans";
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/static/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/static/Roboto-Regular.ttf);
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --purple: #7d00fb;
  --gray: #505050;
  --smoke-white: #fcfcf9;
  --white: #fff;
  --black: #000;
}

body {
  margin: 0;
  padding-block: 3rem;
  font-family: 'DM-Sans',serif;
  position: relative;
}

main::before {
  content: '';
  background: radial-gradient( circle at top left, rgb(225, 181, 235) 0%, rgba(253, 247, 243, 1) 15% );
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

header, main, footer {
  width: 86%;
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}
h1 {
    font-size: clamp(2.75rem, 2.25rem + 2.5vw, 4.5rem);
    line-height: 1.1;
}
h2 {
    font-size: 2rem;
    font-weight:600;
}

p {
    color: var(--gray);
    font-size: 1.25rem;
}

a {
  text-decoration: none;
}

/* Flexbox */
.flexbox {
  display: flex;
}
/* jcsb = Justify Content Space Between */
.jcsb {
  justify-content: space-between;
}
/* jcc = Justify Content Center */
.jcc {
  justify-content: center;
}
/* aic = Align Content Center */
.aic {
  align-items: center;
}

.cta {
  background: var(--purple);
  color: #fff;
  padding: 1rem 1rem;
  border-radius: .25rem;
}