header {
    margin-bottom: 3rem;
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.secondary-nav {
    /* Display none instead of flex as without the toggle the nav will be hidden */
    display: none;
}

.secondary-nav.is-active {
    /* unhides the nav to normal form */
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nav-links {
    color: #000;
}