.section-two {
  margin-block: 8rem;
}

.cta {
  display: block;
  width: fit-content;
  font-size: 18px;
  padding: 1rem 1.25rem;
  background: var(--purple);
  color: #fff;
  text-decoration: none;
  border-radius: .25rem;
  margin-bottom: 2rem;
}

footer .left-container h3 {
  margin: 0;
}

.extra-margin {
  margin-block: 2rem;
}

footer .right-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.container2 img {
  margin-block: 4rem;
}