/* Applies to Multiple Sections */
.section-one__tablet-img, .section-two__img {
    width: 100%;
    max-width: 22rem;
    align-self: center;
}
/* Applies to Multiple Sections */
.section-one, .section-two, .section-two__container {
    flex-direction: column;
}

.section-one {
    margin: 5rem 0;
}

.section-one__tablet-img {
    padding-inline: .5rem;
    margin-bottom: 2.5rem;
}

.section-one__container {
    max-width: 40.5rem;
}

.section__cta {
    margin-bottom: 1.5rem;
}

.section-two {
    margin-block: 8rem;
}

.section-two__img {
    margin: 2rem 0;
}
#phone-img.section-two__img {
    padding: 1rem;
}

@media (min-width: 48rem) {
    .section-two__wrapper-txt {
        max-width: 28rem;
    }
}

@media (min-width: 58.75rem) {
    .section-two {
        gap: 4rem;
    }
    .section-two__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .section-two__container.row-rev {
        flex-direction: row-reverse;
    }

    .section-two__img {
        margin: 0;
    }
    #phone-img.section-two__img {
        padding: 0;
    }
}