.section-two {
  margin-block: 8rem;
}

.cta {
  display: block;
  width: fit-content;
  font-size: 18px;
  padding: 1rem 1.25rem;
  background: var(--purple);
  color: #fff;
  text-decoration: none;
  border-radius: .25rem;
  margin-bottom: 2rem;
}

.container2 img {
  margin-block: 4rem;
}

/*  ======================== FOR TABLET SCREENS ========================  */
@media (min-width: 769px) {
  .section-two .container1, .section-two .container2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .section-two .container2 {
    flex-direction: row;
  }

  .section-one > img {
    margin: auto;
  }

  .section-one .img2 {
    margin-block: 1rem;
  }

  .section-one .para2 {
    margin: 0;
  }
  .section-one .txt-container {
    max-width: 33rem;
  }

   .txt__wrapper {
    max-width: 22rem;
   }

   .cta {
    margin-bottom: unset;
   }

   .section-one img {
    margin-block: 2rem;
   }
   .section-two img {
    max-width: 14rem;
   }
  
}
