/* Primary footer Styles */
footer {
    flex-direction: column;
    padding-block: 2rem;
    /* Applies full width background (equal to body width)  */
    box-shadow: 0 0 0 100vmax #fdfcf9 ;
    clip-path: inset(0 -100vmax);
    background: #fdfcf9;
}

.footer__primary {
    max-width: 23rem;
}
.footer__description--extra-margin {
    margin: 1.5rem 0;
}
/* desaturated heart emoji in the footer description */
.heart-entity {
    filter: saturate(0);
}

/* Secondary footer styles */
.footer__secondary {
    row-gap: 1rem;
    column-gap: 30vw;
}

.footer__heading {
    font-family: 'Roboto-Medium';
}
.footer__list {
    font-family: 'Roboto-Regular';
}
.footer__list-item  {
    padding-block: .5rem;
}
.footer__list-item a {
    color: var(--gray);
}

@media (min-width: 48rem) {
    footer {
        flex-direction: row;
        gap: 5%;
        justify-content: space-between;
        padding-block: 3rem;
    }

    .footer__secondary {
        row-gap: 1rem;
        column-gap: inherit;
        max-width: 19rem;
    }
}

@media (min-width: 64rem) {
    footer {
        flex-direction: row;
        gap: 5%;
        justify-content: space-between;
    }


    .footer__secondary {
        max-width: 45rem;
        column-gap: unset;
        row-gap: 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex: 1;
    }
}